<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>登陆成功</h1>
    <a href="/admin">检测ROLE_ADMIN角色</a>
    <a href="/user">检测ROLE_USER角色</a>
    <button onclick="window.location.href='/logout'">退出登录</button>

    <hr/>
    <!--如果没认证-->
    <div sec:authorize="!isAuthenticated()">显示没认证的内容</div>
    <!--如果认证了-->
    <div sec:authorize="isAuthenticated()">显示认证的内容</div>
    <hr/>
    <h2>
        <!--获取用户名-->
        <span sec:authentication="name"></span>用户,您好,您的角色有:
        <!--获取角色-->
        <span sec:authentication="principal.authorities"></span>
    </h2>
    <hr/>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        我的登录用户名是admin
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        我的登录用户名是user
    </div>
</body>
</html>